---
layout: default
title: Home
---
<!-- ========== About ========== -->
<div class="docs-section" id="about">
  <h4>About</h4>
  <p>
    I am a Masters in Data Science student at the University of Washington, with a strong background in machine learning, AI, and software engineering. I have previously worked at Oracle as a Senior Member of Technical Staff, building high-recall diagnostic classifiers and semantic clinical knowledge graphs, and at Goldman Sachs as a Quantitative Strategist and Software Developer, where I modeled derivatives, optimized reinvestment strategies, and built scalable payment pipelines with distributed systems. I earned my Bachelor of Technology in Electronics and Communication Engineering from Ramaiah Institute of Technology, specializing in machine learning, and also completed a research internship during my undergraduate studies.
    </p>
    <p>
        My research and professional interests lie in ML/DL, natural language processing, graph modeling, probabilistic reasoning, and human-centered AI. I am enthusiastically open to collaboration on innovative projects and research that leverage AI to solve real-world problems. Please feel free to reach out if you’d like to connect or explore opportunities!
    </p>
</div>

<!-- ========== SKILLS ========== -->

<section class="skills-section" id="skills" >
  <h2>Skills</h2>
  <div class="skills-grid">
    <div class="skill-category">
      <h3>Software Practices</h3>
      <div class="skill-tools">
          <div class="skill-box">Data Structures & Algorithms</div>
          <div class="skill-box">Distributed Systems</div>
          <div class="skill-box">Fine-Tuning</div>
          <div class="skill-box">Model Governance</div>
      </div>
    </div>

      <div class="skill-category">
          <h3>Machine Learning & AI</h3>
          <div class="skill-tools">
              <div class="skill-box">Probabilistic Reasoning</div>
              <div class="skill-box">Natural Language Processing</div>
              <div class="skill-box">Graph Modeling</div>
              <div class="skill-box">Ranking & Recommendation</div>
          </div>
      </div>

      <div class="skill-category">
        <h3>Tools & Technologies</h3>
        <div class="skill-tools">
            <div class="skill-box">Python</div>
            <div class="skill-box">SQL</div>
            <div class="skill-box">Scikit-Learn</div>
            <div class="skill-box">PyTorch</div>
            <div class="skill-box">TensorFlow</div>
            <div class="skill-box">Caffe</div>
        </div>
    </div>

      <div class="skill-category">
          <h3>Big Data</h3>
          <div class="skill-tools">
              <div class="skill-box">Hadoop</div>
              <div class="skill-box">Spark</div>
              <div class="skill-box">Kafka</div>
              <div class="skill-box">ZooKeeper</div>
              <div class="skill-box">Splunk</div>
          </div>
      </div>

      <div class="skill-category">
        <h3>Backend Dev</h3>
        <div class="skill-tools">
            <div class="skill-box">Microservices</div>
            <div class="skill-box">FastAPI</div>
            <div class="skill-box">Spring Boot</div>
            <div class="skill-box">Flask</div>
        </div>
    </div>

      <div class="skill-category">
        <h3>Cloud Platforms</h3>
        <div class="skill-tools">
            <div class="skill-box">AWS</div>
            <div class="skill-box">Docker</div>
            <div class="skill-box">K8S</div>
            <div class="skill-box">MLFlow</div>
            <div class="skill-box">Jenkins</div>
        </div>
      </div>
  </div>
</section>

<!-- ========== CERTIFICATIONS ========== -->

<!-- <section id="certifications" class="certifications-section">
  <h2>Certifications</h2>
  <div class="badges-grid">
      <img src="assets/certifications/aws-certified-machine-learning-specialty.png" alt="AWS Certified Solutions Architect" title="AWS Certified Solutions Architect" />
      <img src="assets/certifications/aws-certified-machine-learning-specialty.png" alt="AWS Certified Developer" title="AWS Certified Developer" />
    </div>
</section> -->

<!-- <section id="certifications" class="certifications-section">
  <h2>Certifications</h2>
  <div class="certifications-grid">
      <div class="cert-box">
          <img src="assets/certifications/aws-certified-machine-learning-specialty.png" alt="AWS Certified Machine Learning Specialist" />
          <p>AWS Certified Machine Learning Specialist</p>
      </div>
      <div class="cert-box">
          <img src="path/to/aws-certified-developer.png" alt="AWS Certified Developer" />
          <p>AWS Certified Developer</p>
      </div>
      <div class="cert-box">
          <img src="path/to/aws-certified-devops.png" alt="AWS Certified DevOps Engineer" />
          <p>AWS Certified DevOps Engineer</p>
      </div>
  </div>
</section> -->



<!-- ========== PROJECTS ========== -->
<div class="docs-section" id="projects">
  <h4>Projects</h4>
  <div class="tab-pane" id="projects-all">
    {% for project in site.data.projects.projects %}
      {% assign index_modulo = forloop.index0 | modulo:3 %}
      {% if index_modulo == 0 %}
        <div class="row">
      {% endif %}

        <div class="four columns">
          <div class="project-container">

              <div class="project-image-container">
                <a href="{{ project.url }}">
                  <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                </a>
              </div>

              <div class="project-caption">
                <b>{{ project.title }}</b> <br/>
                {{ project.subtitle }} <br/>
                <i> {{ project.tech_stack}} </i>
              </div>

          </div>
        </div>

      {% if index_modulo == 2 %}
        </div>
      {% endif %}
    {% endfor %}
  </div>

</div> 

<div class="docs-section-last" id="OpenSourcecontributions">
  <h4>Open Source Contributions</h4>
  <p>Coming soon.. one of my recent interests! Currently working on open source contributions for TensorFlow, Pandas and AnitaB.org</p>
</div>


<!-- ========== RESUME ========== -->
<div class="docs-section-last" id="resume">
  <h4>Resume</h4>
  <p>Here is my <a href={{ "/assets/Navya_Resume.pdf" | prepend: site.baseurl }} target="_blank">Resume</a>.</p>
</div>

<div class="docs-section-last" id="workex">
  <h4>Work Experience</h4>
    <!-- The Timeline -->
    <ul class="timeline">
        {% for exp in site.data.experience.experiences %}
        <li>
            {% if exp.category == "work" %}
            <div class="direction-l">
                {% else %}
                <div class="direction-r">
                    {% endif %}
                    <div class="flag-wrapper">
                        <span class="flag">{{ exp.place }}</span>
                        <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
                    </div>
                    <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>
                </div>
        </li>
        {% endfor %}
    </ul>
</div>

</div>
</div>
</div>

<!-- ========== ACKNOWLEDGEMENTS ========== -->
<!-- <div class="docs-section" id="ack">
  <h4>Acknowledgements</h4>
  <p>
    This website uses the design and template by <a href="https://github.com/msaveski/www_personal">Martin Saveski</a>.
  </p>
  
</div> -->